{% extends 'privacy/base.html' %}
{% block content %}

<!-- Header -->
<div class="docs-header">
   <h1 class=" col-md-10 col-md-offset-1" >About</h1>
</div>

<!-- Content -->
<div class="col-md-7 col-md-offset-1">
<br>
<br>
<p class="text-justify"><i><big>Technology has significantly changed our lives in every aspect. These days mobile devices become very powerful and functional to handle those jobs that used to rely on the desktop computers. As the result of the development of science and technology, working on the go becomes not just possible but also practical now. More and more people would like to effectively utilize their small fragments of time while they are moving or in public places such as coffee shops, parks, transport stations, trains and planes. This trend definitely introduces a new fashion of productive working style, but also bring us some concerns about potential privacy leaking. The shoulder-surfing and observation-based attacks are two major risks which are responsible for visual data security breach. This project aims to design a privacy-preserving system which allows users to securely access their sensitive data in public.<br>
<br>
To achieve this goal, the privacy-preserving system is proposed in this thesis, which is designed and developed as a solution for addressing the risk of visual observation attacks. The proposed system adopts natural language processing (NLP), machine learning (ML) and WordNet technologies to analyze confidential documents and identify sensitive information intelligently. The system automatically covers sensitive content to meaningless symbols. Text-to-speech (ToS) code is embedded behind the symbols. The code enable the users to listen to the content of the original sensitive information through an earphone when the users tap on the symbols. As the result, users are able to work on their sensitive data in public place without concerns of privacy leaking due to visual observation attacks.</big></i></p>
<br>
<p><big>Keywords: Privacy Preserving, Visual Data Security Breach, Visual Observation Attacks, Sensitive Information, Natural Language Processing, Machine Learning, WordNet, Synonym Analysis, Text-Speech, Web/Mobile Application Development</big></p>
<br>
<br>
<p><big>Author: Matt Wang<br>
Email: matthework@hotmail.com
</big></p>
</div>

{% endblock %}