{% extends 'privacy/base.html' %}
{% block content %}

<!-- Header -->
<div class="docs-header">
   <h1 class=" col-md-10 col-md-offset-1" >About</h1>
</div>

<!-- Content -->
<div class="col-md-7 col-md-offset-1">
<br>
<br>
<p class="text-justify"><i><big>Technology has significantly changed our lives in every aspect. These days mobile devices became very powerful and functional to handle jobs that we had to rely on desktop computers in the past. As a result of science and technology development, work on the go is no longer just a concept but a day to day practice. More and more people would like to utilize their small fragments of time effectively while they are in public places such as coffee shops, parks and taking transports such as trains and planes. While this new trend of productive working style brings us efficiency, it also gives rise to potential concerns in privacy leaking. Shoulder-surfing and observation-based attacks are two major risks that are responsible for visual data security breach. This project aims to design a privacy-preserving system which allows users to securely access their sensitive data in public.<br>
<br>
The proposed system utilizes Natural Language Processing (NLP), Machine Learning (ML) and WordNet technologies to analyze confidential documents and identify sensitive information intelligently. The system automatically replaces sensitive content with meaningless symbols. Text-to-Speech (ToS) code is embedded behind the symbols. This code enables the users to listen to the content of the original sensitive information through an earphone when the users tap on the symbols. As a result, users would be able to work on their sensitive data in public place without concerning privacy leaking due to visual observation attacks.</big></i></p>
<br>
<p><big>Keywords: Privacy Preserving, Visual Data Security, Visual Observation Attacks, Sensitive Information, Natural Language Processing, Machine Learning, WordNet, Part-of-Speech Tagging, Universal Dependencies, Text-to-Speech.</big></p>
<br>
<br>
<p><big>Author: Matt Wang<br>
Email: matthework@hotmail.com
</big></p>
</div>

{% endblock %}