{% extends 'privacy/base.html' %}
{% block content %}

<!-- Header -->
<div class="docs-header">
   <h1 class=" col-md-10 col-md-offset-1" >About</h1>
</div>

<!-- Content -->
<div class="col-md-7 col-md-offset-1">
<br>
<br>
<p class="text-justify"><i>Technology has significantly changed our lives in every aspect. Today mobile devices become very powerful and functional to handle those jobs that we used to need a PC. As expected, working on the go becomes possible now. More people would like to utilize small fragments of time on working while they are in public places such as cafe, park or a transport station. This trend not only introduces a new fashion of productive working style, but also bring us new concern about potential privacy leaking. The shoulder-surfing and observation-based attacks are two major risks which are responsible for privacy breach in public. This project aims to create a privacy-preserving system which can prevent attacks based on visual observation. </i></p><br>

<p><i>To achieve this goal, we build up a system which can analyze documents or web pages to find out sensitive words and replace the words with meaningless symbols. This system uses Natural Language Processing (NLP) and WordNet technologies. NLP is used to analyze the structure of sentence and group words by types. Searching keywords from nouns and noun phrases with understanding context of a document will improve performance and accuracy. WordNet database will provide synonym for further keywords analysis. The potential sensitive words are covered with some meaningless symbols and also replaced with text-to-speech JavaScript code. This solution will effectively prevent visual observation attacks when a user read sensitive documents in public.</i></p>
<br>
<br>
<text>Author: Matt Wang</text><br>
<text>Contact: matthework@hotmail.com</text>
</div>

{% endblock %}