{% extends 'privacy/base.html' %}
{% block content %}

<!-- Header -->
<div class="docs-header">
   <h1 class="col-md-10 col-md-offset-1">Document</h1>
</div>

<!-- Content -->
<div class="col-md-7 col-md-offset-1">

<h4>Please load a document. (type supported: txt, pdf, docx)</h4>
<form action="#" method="get">
<div class="row">
<div class="col-lg-8">
    <div class="input-group">
      <input type="text" class="input form-control" placeholder="Enter a online doc url or local file path ..." name="doc"/>
      <span class="input-group-btn">
        <button type="submit" class="btn btn-default" value="Go" name="filebtn">Go</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
<p class="text-muted">web: https://dl.dropboxusercontent.com/u/39700844/docs/test.txt<br>local: C:\Users\MATT\Dropbox\Public\docs\test.txt</p>
<big>{% for c in cats %} {{ c }} <input type="checkbox" name="checks" value="{{c}}">, {% endfor %}</big>
</form>



<br>
<br>
<p class="text-justify">
<script>
document.write("{{out|safe}}");
</script>
</p>
<br>

</div>

{% endblock %}