{% extends 'privacy/base.html' %}

{% block content %}

{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/keyword.css' %}">

<!-- Header -->
<div class="docs-header">
   <h1 class=" col-md-10 col-md-offset-1">Keywords</h1>
</div>

<!-- Content -->
<div class="col-md-10 col-md-offset-1">

{% for key, value in sortkeys.items %}
	<div>
	<p class="text-justify">
	<h2><a href="/admin/privacy/category">{{ key }}</a></h2>
	{% for kw in value %}
        <a href="/admin/privacy/keyword">{{ kw }}</a>
    {% endfor %}
    </p>
    </div>
{% endfor %}
<br>
<br>
<br>
<br>
<br>
<br>
</div>


{% endblock %}