{% extends 'privacy/base.html' %}

{% block content %}

{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/keyword.css' %}">

<!-- Header -->
<div class="docs-header">
   <h1 class=" col-md-10 col-md-offset-1">Keywords</h1>
</div>

<!-- Content -->
<div class="col-md-10 col-md-offset-1">

{% for kw in kws %}
    <div>
        <h2><a href="/admin/privacy/category">{{ kw.category }}</a></h2>
        <h4><a href="/admin/privacy/keyword">{{ kw.name }}</a></h4>
    </div>
{% endfor %}

</div>

{% endblock %}