{% extends 'privacy/base.html' %}

{% block content %}

{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/kw.css' %}">

<!-- Header -->
<div class="docs-header">
   <h1 class=" col-md-10 col-md-offset-1">Keyword</h1>
</div>

<!-- Content -->
<div class="col-md-10 col-md-offset-1">

<h2>Keyword: bank</h2>
<h4>Category: financial</h4>
<br>
<button class="btn btn-default">Search WordNet</button>
<br>
<br>
<br>

<h2>Results of WordNet Search</h2>

<h4>
<br>
<a>Synset: 'bank.n.01'</a>
<br>
Definition: 'sloping land (especially the slope beside a body of water)'
<br>
Type: noun
<br>
<br>
<a>Synset: 'depository_financial_institution.n.01'</a>
<br>
Definition: 'a financial institution that accepts deposits and channels the money into lending activities'
<br>
Type: noun
<br>
<br>
<a>Synset: 'deposit.v.02'</a>
<br>
Definition: 'put into a bank account'
<br>
Type: verb
<br>
<br>
<a>Synset: 'bank.n.09'</a>
<br>
Definition: 'a building in which the business of banking transacted'
<br>
Type: noun
<br>
<br>
</h4>

<br>
<br>
<h3>Synset: 'deposit.v.02'</h3>
<h4>
Synonyms: deposit <input type="checkbox">, bank <input type="checkbox">
<br>
<br>
<button class="btn btn-default">Add New</button>
</h4>



<br>
<br>
<h2>Keyword: value</h2>
<h4>Category: financial</h4>
<br>
<button class="btn btn-default">Search WordNet</button>
<br>
<br>
<br>
<h2>Results of WordNet Search</h2>

<h4>
<br>
<a>Synset: 'value.n.01'</a>
<br>
Definition: 'a numerical quantity measured or assigned or computed'
<br>
Type: noun
<br>
<br>
<a>Synset: 'value.n.02'</a>
<br>
Definition: 'the quality (positive or negative) that renders something desirable or valuable'
<br>
Type: noun
<br>
<br>
<a>Synset: 'value.n.03'</a>
<br>
Definition: 'the amount (of money or goods or services) that is considered to be a fair equivalent for something else'
<br>
Type: verb
<br>
<br>
<a>Synset: 'value.v.01'</a>
<br>
Definition: 'fix or determine the value of; assign a value to'
<br>
Type: verb
<br>
<br>
<a>Synset: 'prize.v.01'</a>
<br>
Definition: 'hold dear'
<br>
Type: verb
<br>
<br>
</h4>

<br>
<br>
<h3>Synset: 'prize.v.01'</h3>
<h4>
Synonyms: prize <input type="checkbox">, value <input type="checkbox">, treasure <input type="checkbox">, appreciate <input type="checkbox">
<br>
<br>
<button class="btn btn-default">Add New</button>
</h4>



<br>
<br>
<br>
<br>
<br>
<br>
</div>


{% endblock %}