{% extends 'privacy/base.html' %}

{% block content %}

{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/kws.css' %}">

<!-- Header -->
<div class="docs-header">
   <h1 class=" col-md-10 col-md-offset-1">Keyword Set</h1>
</div>

<!-- Content -->
<div class="col-md-10 col-md-offset-1">

{% for key, value in sortkeys.items %}
	<div>
	<p class="text-justify">
	<h2><a href="/admin/privacy/category">{{ key }}</a></h2>
	{% for k in value %}
        <a href="{% url 'wordnet' k key %}">{{ k }}, </a>
    {% endfor %}
    </p>
    </div>
{% endfor %}
<br>
<br>
<br>
<br>
<br>
<br>
</div>


{% endblock %}