{% extends 'privacy/base.html' %}

{% block content %}

{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">

<!-- Header -->
<div class="docs-header">
   <h1 class=" col-md-10 col-md-offset-1">Privacy Guard App</h1>
</div>

<!-- Content -->
<div class="col-md-8 col-md-offset-1">

<h1>Welcome to Privacy Guard System !</h1><br>

<h4><i>This privacy preserving system uses Natural Language Processing (NLP) and WordNet technologies. NLP is used to analyze the structure of sentence and group words by types. Searching keywords from nouns and noun phrases with understanding context of a document will improve performance and accuracy. WordNet database will provide synonym for further keywords analysis. The potential sensitive words are covered with some meaningless symbols and also replaced with text-to-speech JavaScript code. This solution will effectively prevent visual observation attacks when a user read sensitive documents in public.</i></h4>

</div>

{% endblock %}