{% extends 'privacy/base.html' %}

{% block content %}

{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">

<!-- Header -->
<div class="docs-header">
   <h1 class=" col-md-10 col-md-offset-1">Privacy Guard App</h1>
</div>

<!-- Content -->
<div class="col-md-10 col-md-offset-1">

<div>
    <h1><a href="/">Main Page</a></h1>
</div>

{% for kw in kws %}
    <div>
        <h2><a href="">{{ kw.name }}</a></h2>
        <h4><a href="">({{ kw.category }})</a></h4>
        <h4>created: {{ kw.created_date }}</h4>
    </div>
{% endfor %}

</div>

{% endblock %}