{% extends 'privacy/base.html' %}

{% block content %}

{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">

<!-- Header -->
<div class="docs-header">
   <h1 class=" col-md-10 col-md-offset-1">Privacy Guard</h1>
</div>

<!-- Content -->
<div class="col-md-7 col-md-offset-1">

<h2>Welcome to Privacy Guard System !</h2>
<br>
<br>
<p class="text-justify"><i>This privacy guard (PGS) web application is the implementation of proposed privacy preserving system for my master thesis. The PGS is designed and developed as a robust solution for addressing the risk of visual observation attacks. It adopts natural language processing (NLP), machine learning (ML) and WordNet technologies to analyze confidential documents and identify sensitive information intelligently. Then the system can automatically cover sensitive content with meaningless symbols and replace them with text-to-speech (ToS) code. As the result, the authorized users will feel free to work on their sensitive data in public place without privacy leaking concerns .</i></p>

</div>

{% endblock %}