{% extends 'privacy/base.html' %}

{% block title %}Web{% endblock %}

{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/web.css' %}">

{% block content %}

<!-- Header -->
<div class="docs-header">
   <h1 class=" col-md-10 col-md-offset-1" >
      <span>Web</span>
   </h1>
</div>

<!-- Content -->
<div class="col-md-7 col-md-offset-1">

<h4>Please load a webpage.</h4>
<form action="#" method="get">
<div class="row">
<div class="col-lg-8">
    <div class="input-group">
      <input type="text" class="input form-control" placeholder="Enter a url ..." name="url"/>
      <span class="input-group-btn">
        <button type="submit" class="btn btn-default" value="Go" name="gobtn">Go</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
</form>
<p class="text-muted">eg: https://myservermatt.herokuapp.com/index.html</p>

<br>
<p class="text-justify">
<script>
document.write("{{out|safe}}");
</script>
</p>

</div>

{% endblock %}